@model CaseManagement.ViewModels.SpcAgentAssignment.IndexViewModel

<h1>SPC AGENT ASSIGNMENT DASHBOARD</h1>

@if (this.TempData["UpdateSuccessful"] as bool? == true)
{
    <div class="alert alert-dismissible alert-success w-25">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Updated successfully.</strong>
    </div>
}

<form method="post" asp-area="" asp-controller="SpcAgentAssignment" asp-action="UpdateAvailabilityAndSkills">
    <button type="submit" class="btn btn-success mb-2">UPDATE</button>

    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col">C USER</th>
                <th scope="col">NAME</th>
                <th scope="col">AVAILABLE</th>
                <th scope="col">IMMEDIATE</th>
                <th scope="col">URGENT</th>
                <th scope="col">NORMAL</th>
                <th scope="col">LOW</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AgentsAvailabilityAndSkills.Count(); i++)
            {
                <input type="hidden" asp-for="@Model.AgentsAvailabilityAndSkills[i].UserId" />
                <tr class="table-warning">
                    <th scope="row">@Model.AgentsAvailabilityAndSkills[i].CUser</th>
                    <th scope="row">@Model.AgentsAvailabilityAndSkills[i].FullName</th>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="available-@i" asp-for="@Model.AgentsAvailabilityAndSkills[i].IsAvailable">
                            <label class="custom-control-label" for="available-@i"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ttes12-@i" asp-for="@Model.AgentsAvailabilityAndSkills[i].Urgent">
                            <label class="custom-control-label" for="ttes12-@i"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ttes34-@i" asp-for="@Model.AgentsAvailabilityAndSkills[i].Immediate">
                            <label class="custom-control-label" for="ttes34-@i"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rtpu12-@i" asp-for="@Model.AgentsAvailabilityAndSkills[i].Normal">
                            <label class="custom-control-label" for="rtpu12-@i"></label>
                        </div>
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rtpu34-@i" asp-for="@Model.AgentsAvailabilityAndSkills[i].Low">
                            <label class="custom-control-label" for="rtpu34-@i"></label>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
